---
import { supabase } from "supabase/index";
import ReactComp from "./List";
let { data: matchList, error } = await supabase
  .from("wc-schedule")
  .select()
  .order("matchOrder", { ascending: true });
---

</script>
<div class="overflow-auto">
  <ReactComp />

  <table class="table-auto w-full">
    <h1 class="">{JSON.stringify(selectedTeam)}</h1>
    <thead>
      <tr class="border-b w-100 text-orange-600 text-left text-lg">
        <th class="hidden sm:block pl-2">Match No.</th>
        <th class="pl-2">Teams</th>
        <th>Date</th>
        <th>Stadium</th>
      </tr>
    </thead>
    <tbody class="">
      {
        matchList.map(({ matchOrder, teams, stadium, date }) => {
          return (
            <tr class="text-white text-sm sm:text-lg mt-4">
              <td class="hidden sm:block pl-2">{matchOrder}</td>
              <td class="pl-2">{teams.trim()}</td>
              <td class="text-xs sm:text-lg">{date}</td>
              <td class="max-w-sm">{stadium}</td>
            </tr>
          );
        })
      }
    </tbody>
  </table>
</div>
